<h1>Bonjour!</h1>

<p>Pour réinitialiser votre mot de passe, rendez-vous sur le lien suivant:</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}" title="Lien de réinitialisation">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>A bientôt!</p>
