{% apply inline_css %}
<style>
    h1 {
        color: #007560;
    }

    footer {
        font-weight: bold;
    }
    
</style>

<h1>Nouvelle demande de contact de {{contactFormData['name']}} !</h1>

<p>
Email : {{contactFormData['email']}}
</p>

<p>
Message : <br>
 {{contactFormData['content']}}
</p>
<br>

<footer>
<br>
{# @images refers to the twig namespace for images defined in twig.yaml #}
<img width="100" src="{{ email.image('@images/logo.png') }}" alt="Logo">
</footer>

{% endapply %}



